@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
}


h2 {
    height: 80px;
    text-align: center;
    background: linear-gradient(45deg, rgb(238, 124, 143), rgba(223, 7, 223, 0.914));
    color: white;
    padding-top: 20px;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}


h3 {
    margin-left: 90px;
}


.portal-login {
    height: 100px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    gap: 100px;
}


.role-card {
    height: 160px;
    width: 300px;
    border-radius: 14px;
    background: linear-gradient(135deg, #ffffff, #f4f4f4);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}


.role-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, transparent, rgba(223, 7, 223, 0.25), transparent);
    opacity: 0;
    transition: 0.3s;
}

.role-card:hover::before {
    opacity: 1;
}


.role-card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.role-card i {
    color: #5a005a;
    font-size: 52px;
    margin-bottom: 10px;
}


.role-card span {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.5px;

}


.role-card:active {
    transform: scale(0.97);
}

.role-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.role-card i {
    margin: 0;
    font-size: 48px;
}

.role-card h3,
.role-card p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}